<template>
  <div>
    <vs-row vs-justify="center">
      <!-- <CardTimeline/> -->
      <!-- <CardConciliacaoBancaria/> -->
    </vs-row>

    <vs-row vs-justify="center">
      <CardFechamentoFolhaFerias />
      <CardConsolidacaoEntradas />
      <CardRCA />
      <CardConsolidacaoVendas />
      <CardConsolidacaoBaixas />
      <CardConsolidacaoMovimentos />
    </vs-row>
  </div>
</template>

<script>
import CardTimeline from "../cards/CardTimeline";
import CardConciliacaoBancaria from "../cards/CardConciliacaoBancaria";
import CardConsolidacaoMovimentos from "../cards/CardConsolidacaoMovimentos";
import CardConsolidacaoEntradas from "../cards/CardConsolidacaoEntradas";
import CardRCA from "../cards/CardRCA";
import CardConsolidacaoVendas from "../cards/CardConsolidacaoVendas";
import CardConsolidacaoBaixas from "../cards/CardConsolidacaoBaixas";
import CardFechamentoFolhaFerias from "../cards//CardFechamentoFolhaFerias";

export default {
  name: "Cards",
  components: {
    CardFechamentoFolhaFerias,
    CardConsolidacaoBaixas,
    CardConsolidacaoVendas,
    CardTimeline,
    CardConciliacaoBancaria,
    CardConsolidacaoMovimentos,
    CardConsolidacaoEntradas,
    CardRCA
  }
};
</script>

<style>
.card-principal {
  background-color: #9bd0ff1a;
  color: #000;
}
#tigrao {
  height: 93%;
}
</style>
