<template>
    <div>
        <Calendario/>
    </div>
</template>

<script>
import Calendario from '../components/calendario/CalendarioPrincipal'
export default {
    components: {
        Calendario
    }
}
</script>