<template>
  <div
    id="todo-app"
    class="border border-solid d-theme-border-grey-light rounded relative overflow-hidden"
  >
    <div class="vs-content-sidebar items-no-padding">
      <!---->
      <div class="vs-sidebar vs-sidebar-primary vs-sidebar-parent">
        <!---->
        <div class="vs-sidebar--items">
          <div class="px-6 pb-2 pt-6">
            <button
              type="button"
              name="button"
              class="vs-component vs-button w-full vs-button-primary vs-button-filled"
            >
              <span
                class="vs-button-backgroundx vs-button--background"
                style="opacity: 1; left: 119px; top: 20px; width: 0px; height: 0px; transition: width 0s ease 0s, height 0s ease 0s, opacity 0s ease 0s;"
              ></span>
              <!---->
              <span class="vs-button-text vs-button--text">Novo email</span>
              <span
                class="vs-button-linex"
                style="top: auto; bottom: -2px; left: 50%; transform: translate(-50%);"
              ></span>
            </button>
          </div>
          <section
            class="ps-container todo-scroll-area ps ps--theme_default ps--active-y"
            data-ps-id="20a5a7d2-43e0-1098-9d41-981154001b15"
          >
            <div class="todo__filters-container">
              <div class="px-6 py-4">
                <div class="flex cursor-pointer text-primary">
                  <span class="feather-icon select-none relative">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-mail text-primary stroke-current h-6 w-6"
                    >
                      <path
                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                      />
                      <polyline points="22,6 12,13 2,6" />
                    </svg>
                  </span>
                  <span class="text-lg ml-3">Todas os emails</span>
                </div>
              </div>
              <div class="vs-component vs-divider">
                <span
                  class="vs-divider-border after"
                  style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
                ></span>
                <!---->
                <span
                  class="vs-divider-border before"
                  style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
                ></span>
              </div>
              <div class="px-6 py-4">
                <h5>Filtros</h5>
                <div class="flex mt-6 cursor-pointer">
                  <span class="feather-icon select-none relative">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-star h-6 w-6"
                    >
                      <polygon
                        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                      />
                    </svg>
                  </span>
                  <span class="text-lg ml-3">Com estrela</span>
                </div>
                <div class="flex mt-6 cursor-pointer">
                  <span class="feather-icon select-none relative">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-info h-6 w-6"
                    >
                      <circle cx="12" cy="12" r="10" />
                      <line x1="12" y1="16" x2="12" y2="12" />
                      <line x1="12" y1="8" x2="12" y2="8" />
                    </svg>
                  </span>
                  <span class="text-lg ml-3">Importantes</span>
                </div>
                <div class="flex mt-6 cursor-pointer">
                  <span class="feather-icon select-none relative">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-check h-6 w-6"
                    >
                      <polyline points="20 6 9 17 4 12" />
                    </svg>
                  </span>
                  <span class="text-lg ml-3">Concluidas</span>
                </div>
                <div class="flex mt-6 cursor-pointer">
                  <span class="feather-icon select-none relative">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-trash h-6 w-6"
                    >
                      <polyline points="3 6 5 6 21 6" />
                      <path
                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                      />
                    </svg>
                  </span>
                  <span class="text-lg ml-3">Excluidas</span>
                </div>
              </div>
              <div class="vs-component vs-divider">
                <span
                  class="vs-divider-border after"
                  style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
                ></span>
                <!---->
                <span
                  class="vs-divider-border before"
                  style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.1);"
                ></span>
              </div>
              <div class="px-6 py-4">
                <h5>Labels</h5>
                <div class="todo__lables-list">
                  <div class="todo__label flex items-center mt-6 cursor-pointer">
                    <div class="h-4 w-4 rounded-full mr-4 bg-primary"></div>
                    <span class="text-lg">Frontend</span>
                  </div>
                  <div class="todo__label flex items-center mt-6 cursor-pointer">
                    <div class="h-4 w-4 rounded-full mr-4 bg-warning"></div>
                    <span class="text-lg">Backend</span>
                  </div>
                  <div class="todo__label flex items-center mt-6 cursor-pointer">
                    <div class="h-4 w-4 rounded-full mr-4 bg-success"></div>
                    <span class="text-lg">Doc</span>
                  </div>
                  <div class="todo__label flex items-center mt-6 cursor-pointer">
                    <div class="h-4 w-4 rounded-full mr-4 bg-danger"></div>
                    <span class="text-lg">Bug</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
              <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; height: 420px; right: 0px;">
              <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 60px;"></div>
            </div>
          </section>
        </div>
        <!---->
        <!---->
      </div>
    </div>
    <div
      class="app-fixed-height border border-r-0 border-b-0 border-t-0 border-solid d-theme-border-grey-light app-fixed-height sidebar-spacer"
    >
      <div
        class="flex items-center app-search-container border border-l-0 border-r-0 border-t-0 border-solid d-theme-border-grey-light"
      >
        <span
          class="md:inline-flex lg:hidden ml-4 mr-4 cursor-pointer feather-icon select-none relative"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
          >
            <line x1="3" y1="12" x2="21" y2="12" />
            <line x1="3" y1="6" x2="21" y2="6" />
            <line x1="3" y1="18" x2="21" y2="18" />
          </svg>
        </span>
        <div
          class="vs-component vs-con-input-label vs-input vs-input-no-border vs-input-no-shdow-focus no-icon-border w-full vs-input-primary"
        >
          <!---->
          <div class="vs-con-input">
            <input
              type="text"
              class="vs-inputx vs-input--input large hasIcon"
              style="border: 1px solid rgba(0, 0, 0, 0.2);"
            />
            <span class="input-span-placeholder vs-input--placeholder large"></span>
            <i
              class="vs-icon notranslate icon-scale icon-inputx notranslate vs-input--icon feather icon-search null"
            ></i>
            <!---->
          </div>
          <span></span>
        </div>
      </div>
      <section
        class="ps-container todo-content-scroll-area ps ps--theme_default"
        data-ps-id="f17edc8a-cd1a-ed65-ef63-d45847996861"
      >
        <ul class="todo-list">
			<!-- components aqui -->
		</ul>
        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
          <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps__scrollbar-y-rail" style="top: 0px; height: 440px; right: 0px;">
          <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
        </div>
      </section>
    </div>
  </div>
</template>