<template id="task-item">
  <ul class="todo-list">
    <li class="cursor-pointer todo_todo-item" style="transition-delay: 0s;">
      <div class="px-4 py-4 list-item-component">
        <div class="vx-row">
          <div class="vx-col w-full sm:w-5/6 flex sm:items-center sm:flex-row flex-col">
            <div class="flex items-center">
              <div
                class="vs-component con-vs-checkbox w-8 m-0 vs-checkbox-small vs-checkbox-primary vs-checkbox-default"
              >
                <input type="checkbox" class="vs-checkbox--input" value="false" />
                <span class="checkbox_x vs-checkbox" style="border: 2px solid rgb(180, 180, 180);">
                  <span class="vs-checkbox--check">
                    <i
                      class="vs-icon notranslate icon-scale vs-checkbox--icon material-icons null"
                    >check</i>
                  </span>
                </span>
                <span class="con-slot-label"></span>
              </div>
              <h6 class="todo-title">Feliciana</h6>
            </div>
            <div class="todo-tags sm:ml-2 sm:my-0 my-2 flex"></div>
          </div>
          <div class="vx-col w-full sm:w-1/6 ml-auto flex sm:justify-end">
            <span class="cursor-pointer feather-icon select-none relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-info w-5 h-5 mr-4"
              >
                <circle cx="12" cy="12" r="10" />
                <line x1="12" y1="16" x2="12" y2="12" />
                <line x1="12" y1="8" x2="12" y2="8" />
              </svg>
            </span>
            <span class="cursor-pointer feather-icon select-none relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star w-5 h-5 mr-4"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                />
              </svg>
            </span>
            <span class="cursor-pointer feather-icon select-none relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-trash w-5 h-5"
              >
                <polyline points="3 6 5 6 21 6" />
                <path
                  d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                />
              </svg>
            </span>
          </div>
        </div>
        <div class="vx-row">
          <div class="vx-col w-full">
            <p class="mt-2 truncate">Ola meninos...</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  name: "TarefaItem"
};
</script>